<h2>Create New Landmark</h2>

<!-- add content here -->
<form class="" action="/landmarks" method="post">
  <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
  <input type="submit" name="submitting" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
